body {
	font-family: "Fredoka", sans-serif;
}

/* styling navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(41, 39, 39);
	color: white;
	border-radius: 5px;
}
.subNavbar {
	display: flex;
	align-items: center;
	margin-left: 15px;
}
.subNavbar a {
	text-decoration: none;
	color: white;
	margin-left: 15px;
}
.subNavbar .name {
	text-decoration: none;
	font-weight: bold;
	color: white;
	margin-left: 15px;
}

.search {
	display: flex;
    align-items: center;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.search #inpSearch{
    border-color: lightblue;
    margin: 0 15px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}
.btn{
    background-color: rgb(0, 110, 255);
    color: white;
    border-radius: 5px;
}

/* styling the adding note section  */
.noteContainer{
	display: flex;
	align-items: center;
	flex-direction: column;
	/* margin: 5px 350px; */
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.noteContainer .card h1{
	font-size: 40px;
	text-align: center;
}
textarea{
	width: 565px;
	font-size: 18px;
}
.noteContainer .card .innercard{
	/* border: ; */
	padding: 5px 50px;
	display: flex;
	border-top: 1px solid black;
	flex-direction: column;
	margin: 5px 50px;
	/* border: 0.5px solid grey; */
}

.noteContainer .card .innercard .btn{
	width: 50px;
}
.noteContainer .card .innercard .head{
	font-weight: bold;
}
h1{
	text-align: center;
	text-decoration: underline;
}

.notes{
	display: flex;
	flex-direction: column;
}
.notes .btn{
	width: 50px;
}