* {
	margin: 0;
	padding: 0;
	background-color: rgb(51, 50, 50);
	font-family: "Roboto", sans-serif;
}

/* styling top of the window  */
.top {
	display: flex;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0px 5px;
	color: white;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	background-color: rgb(51, 50, 50);
}


#hamburger-menu {
	width: 20px;
	height: 20px;
}
.name a{
    text-decoration: none;
    color: white;
}

#search{
	background-color: black;
	height: 38px;
	width: 400px;
	border-radius: 5px;
	color: white;
	border: 1px solid black;
}
#searchLogo{
	/* border: 1px solid black; */
	padding: 5px;
	width: 25px;
	height: 25px;
}

.searchBar{
	display: flex;
	align-items: center;

}

#microphoneLogo{
	width: 25px;
	height: 25px;
}
/* utility classes */
.flex {
	display: flex;
	align-items: center;
	/* justify-content: center; */
}

.logo {
	width: 25px;
	height: 25px;
	margin: 0px 5px;
}