@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&display=swap');

hr,
div,
span,
img,
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6,
iframe
{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	/* display: flex; */
	align-items: center;
	color:black;
	flex-direction: row;
}
body{
	 font-family: 'Roboto', sans-serif;
}
.left {
	display: flex;
	align-items: center;
}
.right{
	display: flex;
}
.logo {
	width: 30px;
	height: 30px;
}

.name{
	font-family: 'Roboto Condensed', sans-serif;
}

.middle{
	display: flex;
	align-items: center;
}
.middle .input-group input{
	width: 500px;
}
.middle .input-group span{
	cursor: pointer;
}
.middle img{
	cursor: pointer;
}

.videos{
	display: flex;
}
.grid{
	outline: 1px solid;
	width: 330px;
	padding: 120px;
	margin: 10px 20px;
	display: flex;

}
.navbarUtility{
	outline: 1px solid red;
	width: 50px;
	height: 500px;
	position: sticky;
	margin-top: 10px;
}
.videoContainer{
	display: flex;
	flex-direction: column;
}
.row{
	display: flex;
	flex-direction: row;
	position: relative;
}

.iframeVideo{
	width: 330px;
	height: 130px;
}